@font-face {
   font-family: '851H-kktt_004';
   font-display: swap;
   src: url('file:///Users/murakamidaisuke/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-03-31_220703/fonts/851H-kktt_004/font.ttf');
}
